* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100vw;
}
.header {
  width: 100%;
  height: fit-content;
}
.header-subnav {
  width: 100%;
  height: fit-content;
  background-color: rgb(215, 75, 51);
  color: white;
  display: flex;
}
.header-subnav-left {
  width: 50%;
  margin-left: 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.header-subnav-right {
  width: 50%;
  text-align: end;
  margin-right: 10px;
  height: 100%;
}
.header-subnav-right ul {
  height: 100%;
}
.header-subnav-right ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  height: 100%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
}
.header-subnav-right ul li:hover {
  background-color: white;
  color: rgb(215, 75, 51);
}
.header-logoandsearch {
  width: 100%;
  display: flex;
  height: 90px;
  background-color: rgb(235, 234, 234);
}
.header-logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 250px;
  height: 57px;
  margin-left: 10px;
}
.header-search {
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
}
.header-search input {
  border: 1px solid rgb(204, 204, 204);
  height: fit-content;
  padding: 10px 5px;
  width: 200px;
}
.header-search input:focus {
  border: 1px solid rgb(204, 204, 204);
  outline: none;
}
.button-search {
  background-color: black;
  color: white;
  width: 50px;
  display: flex;
  height: 37px;
  justify-content: center;
  align-items: center;
}
.header-navmenu {
  width: 100%;
  height: fit-content;
}
.header-navmenu p {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 44px;
  margin: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header-navmenu p:hover {
  background-color: rgb(215, 75, 51);
  color: white;
}
.body {
  width: 100%;
}
.body-container {
  width: 90%;
  margin: auto;
  display: flex;
}
.leftside {
  flex: 1;
}
.box {
  border: 1px solid rgb(221, 221, 221);
}
.box-title {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(215, 75, 51);
  color: white;
}
.box-title p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
.box-body-item {
  padding: 10px;
  display: flex;
  width: 100%;
  color: rgb(106, 106, 106);
}
.box-body-item + .box-body-item {
  border-top: 1px dotted rgb(221, 221, 221);
}
.box-body-item p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(106, 106, 106);
  text-transform: lowercase;
  cursor: pointer;
}
.box-body-item:hover {
  color: rgb(215, 75, 51);
}
.box-body-item:hover p {
  color: rgb(215, 75, 51);
}
.rightside {
  flex: 4;
  padding: 0px 10px;
}
.rightside h3 {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  color: white;
  background-color: rgb(215, 75, 51);
  padding: 10px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgb(215, 75, 51);
}
.form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form > p {
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 33px;
  color: rgb(215, 75, 51);
  padding-bottom: 10px;
  border-bottom: 1px dotted rgb(51, 51, 51);
  margin-bottom: 10px;
}
.form > .form-gp {
  width: 100%;
  display: flex;
  margin: 10px 0px;
}
.form > .form-gp > span {
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  display: inline-block;
  flex: 1;
}
.form > .form-gp > span > span {
  color: rgb(215, 75, 51);
}
.form > .form-gp > input {
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  padding: 10px;
  border-radius: 5px;
  flex: 3;
}
.form > .form-gp > select {
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.gp-select {
  flex: 3;
}
.gp-select select {
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
button {
  padding: 10px;
  background-color: rgb(215, 75, 51);
  color: white;
  margin-top: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover {
  background-color: black;
}
.footer {
  width: 100%;
  margin-top: 140px;
  cursor: pointer;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #060606;
}
.footer-infor {
  width: 100%;
}
.logo {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.logo img {
  margin: auto;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.infoleft p {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.inforight p {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #686868;
}
.inforight span {
  color: rgb(58, 158, 219);
}
.list-news {
}
.header-subnav label {
  display: none;
}
.header-subnav input[type="checkbox"] {
  display: none;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .body-content {
    flex-direction: column;
  }
  .poster {
    display: none;
  }
  .header-subnav {
    flex-wrap: wrap;
    position: relative;
  }
  .header-subnav-right ul li {
    display: block;
    text-align: left;
  }
  .header-subnav-right {
    position: absolute;
    background-color: rgb(215, 75, 51);
    top: 100%;
    height: fit-content;
    z-index: 3;
    right: -100%;
    margin-right: 0;
    width: fit-content;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header-subnav-right a {
    text-decoration: none;
  }
  .header-subnav label {
    display: inline-block;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
  }
  .header-subnav input[type="checkbox"] {
    display: flex;
    position: absolute;
    right: 0;
    margin: 5px;
    opacity: 0;
  }
  .header-subnav input:checked + .header-subnav-right {
    right: 0;
  }
  .header-subnavinput: + .header-subnav-right {
    right: 0;
  }
  .listproducts {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    padding: 10px 10px;
  }
  .listproducts div img {
    width: 130px;
  }
  .footer {
    width: 100%;
    margin-top: 440px;
    cursor: pointer;
  }
  .body-contentright {
    margin-top: 20px;
  }
  .body-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 768px;
    overflow: hidden;
  }
  .body {
    max-width: 768px;
    overflow: hidden;
  }
  .footer {
    max-width: 768px;
    overflow: hidden;
  }
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
  }
  .header-logo {
    width: 100%;
  }
  .listnews {
    overflow-x: hidden;
  }
  .container {
    max-width: 768px;
    overflow-x: hidden;
  }
  .body-container {
    flex-direction: column;
  }
  .body-content {
    flex-direction: column;
  }
  .poster {
    display: none;
  }
  .header-subnav {
    flex-wrap: wrap;
    position: relative;
  }
  .header-subnav-right ul li {
    display: block;
    text-align: left;
  }
  .header-subnav-right {
    position: absolute;
    background-color: rgb(215, 75, 51);
    top: 100%;
    height: fit-content;
    z-index: 3;
    right: -100%;
    margin-right: 0;
    width: fit-content;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header-subnav-right a {
    text-decoration: none;
  }
  .header-subnav label {
    display: inline-block;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
  }
  .header-subnav input[type="checkbox"] {
    display: flex;
    position: absolute;
    right: 0;
    margin: 5px;
    opacity: 0;
  }
  .header-subnav input:checked + .header-subnav-right {
    right: 0;
  }
  .header-subnavinput: + .header-subnav-right {
    right: 0;
  }
  .listproducts {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    padding: 10px 10px;
    justify-content: center;
  }
  .listproducts div {
    max-width: 130px;
    height: 200px;
    margin: 3px;
  }
  .listproducts div img {
    max-width: 95%;
  }
  .footer {
    width: 100%;
    margin-top: 440px;
    cursor: pointer;
  }
  .body-contentright {
    margin-top: 20px;
  }
  .listproducts div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .listproducts div button img {
    display: none;
  }
  .listproducts div button {
    margin: 0 !important;
    align-self: center;
  }
  .listproducts div button p {
    padding: 2px 5px;
    margin: 0;
    background-color: rgb(215, 75, 51);
    color: white;
    font-size: 10px !important;
  }
  .header-logoandsearch {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
  }
  .header-logo {
    margin: auto;
  }
  .header-logo img {
    margin: auto;
  }
  .header-search {
    margin: 10px auto;
  }
  .header-search input {
    width: 100%;
  }
  .header-panner {
    width: 100%;
    background-size: contain;
  }
  .header-navmenu {
    display: flex;
    flex-direction: column;
  }
  .header-navmenu p:nth-child(even) {
    display: none;
  }
  .header-navmenu p {
    width: 100%;
  }
  .list-news div img {
    width: 100px !important;
    
  }
  .list-news div {
    width: fit-content;
    height: fit-content;
    align-items: center;
  }
  .list-news div p {
    /* max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
  }
}
